:root{
    --cor-creme: #fffdd0;
    --cor-vermelha: #ff5510;
    --cor-marrom: #964b00;
}

body{
    height: 100%;
    background-color: var(--cor-creme);
}

header{
    width: 100%;
    height: 10%;
    background-color: var(--cor-vermelha);
    text-align: center;
}

.informacao{
   background-color: gray; 
}

nav{
    width: 30%;
    background-color: var(--cor-marrom);
}

section{
    width: 40%;
    background-color: var(--cor-vermelha);
}

footer{
    width: 100%;
    background-color: purple;
}