*{
    padding: 0;
    margin: 0;

}

body{
    
}

section{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(rgb(255,255,255), rgb(0,0,0));
}

header{
    text-align: center;
    justify-content: center ; 
}

#funcoes{
    height: 20vh;
    width: 100%;
    text-align: center;
    justify-content: center;
}

#tabela{
    height: 40vh;
    width: 100%;
    background-color: black;
}

footer{
    text-align: center;
    justify-content: center ;
}